//Fonts

$deafult-font: "Oswald", "Arial", sans-serif;
$font-secondary: "Arial", "Helvetica", sans-serif;

//Colors

$black: #000000;

$white: #ffffff;

$green: #68b738;
$green-dark: #5eaa2f;

$gray-17:  #111111; //rgb(17, 17, 17)
$gray-34:  #222222; //rgb(34, 34, 34)
$gray-68:  #444444; //rgb(68, 68, 68)
$gray-102: #666666; //rgb(102, 102, 102)
$gray-186: #bababa; //rgb(186, 186, 186)
$gray-205: #cdcdcd; //rgb(205, 205, 205)
$gray-211: #d3d3d3; //rgb(211, 211, 211)
$gray-217: #d9d9d9; //rgb(217, 217, 217)
$gray-220: #dcdcdc; //rgb(220, 220, 220)
$gray-230: #e6e6e6; //rgb(230, 230, 230)
$gray-231: #e7e7e7; //rgb(231, 231, 231)
$gray-234: #eaeaea; //rgb(234, 234, 234)
$gray-235: #ebebeb; //rgb(235, 235, 235)
$gray-242: #f2f2f2; //rgb(242, 242, 242)

// Viewports

$tablet-width: 768px;
$desktop-width: 1330px;
$mobile-width-only: 767px;
