.banner {
  position: relative;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }

  &::after {
    position: absolute;
    content: "";
    top: 94px;
    left: 36%;
    width: 78px;
    height: 80px;
    background-image: url("../img/catalog/icon_gift.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 100px;
      left: 78px;
    }

    @media (min-width: $desktop-width) {
      top: 59px;
      left: 35%;
    }
  }
}

.banner__wrapper {
  box-sizing: border-box;
  position: relative;
  padding: 58px;
  padding-top: 188px;
  padding-bottom: 43px;
  min-height: 290px;
  background-color: $green;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/add-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $mobile-width-only) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/add-banner_2x.jpg");
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: right;
    width: 100%;
    padding-top: 71px;
    padding-right: 124px;
    padding-bottom: 69px;
    min-height: 200px;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/add-banner_tablet.jpg");
    background-position: 50% 60%;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/add-banner_tablet_2x.jpg");
  }

  @media (min-width: $desktop-width) {
    padding-left: 43px;
    padding-right: 41px;
    padding-top: 185px;
    padding-bottom: 42px;
    height: 100%;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/add-banner_desktop.jpg");
    background-position: center;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/add-banner_desktop_2x.jpg");
  }
}

.banner__title {
  margin: 0 auto;
  padding: 0;
  width: 161px;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    text-align: center;
  }
}
