.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $green;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 29px;
  }

  &--promo {
    font-size: 14px;
    line-height: 18px;
    padding: 9px 72px;
  }

  &--secondary {
    color: $gray-68;
    background-color: $gray-242;
  }
}
