.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $green;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 16px 29px;

    &:hover {
      background-color: $green-dark;
    }

    &:active {
      background-color: $green-dark;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--promo {
    font-size: 14px;
    line-height: 18px;
    padding: 9px 72px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 17px 27px;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      font-size: 16px;
      padding: 10px;
    }
  }

  &--secondary {
    color: $gray-68;
    background-color: $gray-242;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      padding: 10px 29px;
    }

    &:hover {
      @media (min-width: $tablet-width) {
        background-color: $gray-230;
      }
    }

    &:active {
      @media (min-width: $tablet-width) {
        color: rgba(68, 68, 68, 0.3);
      }
    }
  }
}
