.contacts__welcome {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 20px;
  color: $special_dark-grey;
}
