.contacts__welcome {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
  font-family: $font-secondary;
  line-height: 20px;
  color: $gray-68;
}
