.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.copyright__link-name {
  list-style-type: none;
  text-decoration: none;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $gray-68;

  @media (min-width: $tablet-width) {
    margin-right: 24px;

    &:active {
      opacity: 0.3;
    }
  }
}

.copyright__link-logo {
  display: block;
  width: 27px;
  height: 34px;
  margin: 0;
  padding: 0;

  &:hover .copyright__icon-logo {
    fill: $green;
  }

  &:focus {
    outline: 2px solid $black;
  }

  &:active .copyright__icon-logo {
    opacity: 0.3;
  }
}

.copyright__icon-logo {
  width: 27px;
  height: 34px;
  fill: $gray-102;
}
