.example {
  background-color: $extra-light-gray;
}

.example__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 25px 20px;
  padding-bottom: 40px;
}

.example__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  color: $special_dark-grey;
}

.example__purpose-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.example__purpose-item {
  position: relative;
  padding: 15px;
  padding-bottom: 0;
  text-align: center;
}

.example__purpose-item:not(:last-child) {
  margin-right: 52px;
}

.example__purpose-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 124px;
  height: 56px;
  background-image: url("../../img/index/example-weight.svg");
}

.example__item--view-after {
  display: none;
}

.example__number {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.example__description {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.example__total {
  line-height: 20px;
  text-transform: uppercase;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__range {
  display: flex;
}

.example__button {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-black;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
