.logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 192px;
  height: 38px;
  margin-right: 55px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 174px;
    height: 52px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__title {
  width: 101px;
  height: 18px;
}

.logo--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    width: 174px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo--desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 202px;
  }
}

.logo--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (max-width: 767px) {
    width: 58%;
  }
}
