.logo {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 192px;
  height: 38px;
  margin-right: 55px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 174px;
    height: 52px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
