.main-nav {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 53px;
    padding-bottom: 28px;
  }
}

.main-nav__toggle {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  background-color: $white;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

// стили для кнопки при закрытом меню на js

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 26px;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

// стили для работы меню на js в закрытом и открытом состоянии на мобильной версии

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: 195px;
    background-color: $white;
  }

  .main-nav--opened .main-nav__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
  }

  // При неработающем js
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

// стили для кнопки при открытом меню на js

.main-nav--opened .main-nav__toggle {
  top: 0;
  left: auto;
  right: 0;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 26px;
  width: 24px;
  height: 2px;
  background-color: $black;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: fade($black, 30%);
}

.main-nav__container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding: 0;
    margin: 0;
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    width: 202px;
  }
}
