.more-info {
  padding-top: 30px;
}

.more-info__show {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_darkest-grey;
}

.more-info__text {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}
