.more-info {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.more-info__wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  padding-top: 49px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    min-width: 248px;
    margin-top: 82px;
    padding: 38px;
    padding-top: 159px;
    padding-bottom: 36px;
    border: 2px solid $gray-242;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
    padding-right: 37px;
    padding-left: 37px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 45%;
    width: 30px;
    height: 2px;
    background-color: $gray-211;

    @media (min-width: $tablet-width) {
      top: 80px;
      left: 40%;
      width: 60px;
      height: 2px;
    }

    @media (min-width: $desktop-width) {
      top: 79px;
      left: 38%;
    }
  }

  &::before {
    transform: rotate(90deg);
  }
}

.more-info__show {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $gray-17;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.more-info__text {
  margin: 0;
  margin-bottom: 21px;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $gray-68;

  @media (min-width: $tablet-width) {
    width: 167px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.more-info__button {
  width: 100%;
}
