.offer__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding-top: 0;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 1220px;
    max-width: 1330px;
    padding-top: 21px;
    padding-right: 55px;
    padding-left: 55px;
  }
}

.offer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;


  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.offer__item {
  position: relative;
  padding: 21px 20px;
  padding-top: 30px;
  background-color: $gray-242;

  &:first-child {
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 51px;
    padding-left: 53px;
    padding-right: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 53px;
    margin-bottom: 0;
  }

  //&::before {
  //  position: absolute;
  //  content: "";
  //  top: 14px;
  //  left: 12px;
  //  width: 100px;
  //  height: 100px;
  //  background-size: 50% 51%;
  //  background-position: 20% 15%, 20% 20%;
  //  background-repeat: no-repeat;

  //  @media (min-width: $tablet-width) {
  //    top: 29px;
  //    left: 50vw;
  //    width: 340px;
  //    height: 340px;
  //    background-size: 60% 57%, 60% 60%;
  //    background-position: 44% 37%, 44% 45%;
  //  }

  //  @media (min-width: $desktop-width) {
  //    top: 3px;
  //    left: 8px;
  //    width: 200px;
  //    height: 200px;
  //    background-size: 50% 49%, 50% 51%;
  //    background-position: 44% 37%, 44% 45%;
  //  }
  //}

  //&--slim::before {
  //  background-image: url("../img/index/offer-slim.svg"), radial-gradient($green 25px, transparent 25px);

  //  @media (min-width: $tablet-width) {
  //    background-image: url("../img/index/offer-slim_tablet.svg"), radial-gradient($green 100px, transparent 100px);
  //  }

  //  @media (min-width: $desktop-width) {
  //    background-image: url("../img/index/offer-slim_desktop.svg"), radial-gradient($green 50px, transparent 50px);
  //  }
  //}

  //&--pro::before {
  //  background-size: 67% 68%;
  //  background-position: 4% 2%, 7% 4%;
  //  background-image: url("../img/index/offer-pro.svg"), radial-gradient($green 25px, transparent 25px);

  //  @media (min-width: $tablet-width) {
  //    background-size: 79% 82%, 60% 60%;
  //    background-position: 39% 41%, 46% 45%;
  //    background-image: url("../img/index/offer-pro_tablet.svg"), radial-gradient($green 100px, transparent 100px);
  //  }

  //  @media (min-width: $desktop-width) {
  //    background-size: 67% 78%, 50% 50%;
  //    background-position: 38% 31%, 44% 44%;
  //    background-image: url("../img/index/offer-pro_desktop.svg"), radial-gradient($green 50px, transparent 50px);
  //  }
  //}
}

.offer__title {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 161px;
    margin-bottom: 75px;
  }
}

.offer__image {
  position: absolute;
  top: 22px;
  left: 22px;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 81px;
    left: 58vw;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 51px;
    right: 0;
  }

  &--pro {
    top: 24px;
    left: 13px;

    @media (min-width: $tablet-width) {
      top: 92px;
      left: 53.5vw;
    }

    @media (min-width: $desktop-width) {
      top: 48px;
      left: 33px;
    }
  }
}

.offer__image-icon--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.offer__image-icon--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.offer__image-icon--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.offer__text {
  margin: 0;
  padding: 0;
  font-family: $font-secondary;
  color: $gray-68;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 44.5vw;
    margin-bottom: 47px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 21px;
  }
}

.offer__item-wrapper {
  padding-top: 19px;
  border-top: 1px solid $gray-230;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    border-top: none;
  }
}

.offer__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 30px;

    &:focus {
      outline: 2px solid;
      outline-offset: 5px;
      border-radius: 10px;
    }

    &:active,
    &:active::after {
      opacity: 0.3;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    top: 2px;
    left: 100px;
    background-image: url("../img/index/offer-arrow.svg");

    @media (min-width: $tablet-width) {
      transform: translateY(91%) translateX(126%);
    }
  }

  &:hover::after {
    width: 32px;
    background-image: url("../img/index/offer-arrow_long.svg");
    transition: 0.2s ease;
  }
}
