.page-footer__contacts {
  padding: 26px 20px;
}

.page-footer__logo {
  padding: 39px 20px;
  padding-bottom: 32px;
}

.page-footer__social {
  padding: 20px;
  padding-bottom: 21px;
}

.page-footer__copyright {
  padding: 22px 20px;
}
