.page {
  margin: 0 auto;
  min-width: 320px;
  height: 100%;
  font-family: $deafult-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1330px;
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: $black;
  background-color: $white;
}

.page__body--index {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%), url("../img/index/promo-background-desktop.jpg"), linear-gradient(to top, rgb(67, 66, 71) 100%, rgb(67, 66, 71) 100%);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50% 696px, 50% 696px, 50% 696px;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%), url("../img/index/promo-background-desktop_2x.jpg"), linear-gradient(to top, rgb(67, 66, 71) 100%, rgb(67, 66, 71) 100%);
    background-size: 50% 696px, 50% 696px, 50% 696px;
  }
}
