.page-header__wrapper {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    margin: 0 auto;
    padding-right: 55px;
    padding-left: 55px;
  }
}
