.select-form {
  font-size: 16px;
  text-transform: uppercase;
  color: $gray-68;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1330px;
    margin: 0 auto;
  }
}

.select-form__grid-wrapper {
  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.select-form__wrapper {
  min-width: 280px;
  padding: 23px 20px;

  @media (min-width: $tablet-width) {
    padding-right: 37px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &--border {
    border-bottom: 1px solid $gray-217;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &--cat {
    @media (min-width: $tablet-width) {
      margin-bottom: 26px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--purpose {
    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--contacts {
    padding-top: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 43px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 66px;
    }
  }

  &--comment {
    padding-top: 0;
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 42px;
    }
  }

  &--add {
    padding-top: 0;
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 2px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 57px;
    }
  }
}

.select-form__fieldset {
  min-width: 280px;
  margin: 0;
  padding: 0;
  border: none;

  &--parameter {
    @media (min-width: $desktop-width) {
      min-width: 569px;
    }
  }

  &--purpose {
    @media (min-width: $tablet-width) {
      padding-top: 29px;
      padding-bottom: 29px;
      border: 1px solid $gray-217;
    }

    @media (min-width: $desktop-width) {
      padding: 28px;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 78px;
    }
  }
}

.select-form__title {
  display: inline-block;
  position: relative;
  max-width: 181px;
  padding: 0;
  padding-right: 21px;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: $black;
  margin-bottom: 36px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    max-width: none;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 16px;
    width: 10000%;
    height: 2px;
    background: $green;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  &::before {
    margin-left: -10000%;
    left: -22px;

    @media (min-width: $tablet-width) {
      left: -41px;
    }

    @media (min-width: $desktop-width) {
      left: -40px;
    }
  }

  &::after {
    z-index: -1;
    margin-right: -10000%;

    @media (min-width: $tablet-width) {
      left: 411px;
    }

    @media (min-width: $desktop-width) {
      left: 373px;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
    }

    &::after {
      left: 201px;

      @media (min-width: $tablet-width) {
        left: 552px;
      }
    }
  }

  &--comment {
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }

    &::after {
      left: 143px;

      @media (min-width: $tablet-width) {
        left: 218px;
      }

      @media (min-width: $desktop-width) {
        left: 223px;
      }
    }
  }

  &--add {
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      margin-bottom: 56px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 54px;
    }

    &::after {
      left: 164px;

      @media (min-width: $tablet-width) {
        left: 251px;
      }
    }
  }
}

.select-form__data {
  position: relative;
  margin: 0;
  min-width: 280px;
  display: flex;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &.select-form__data--mail {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }

    .select-form__field {
      padding-right: 50px;
    }
  }

  &.select-form__data--phone {
    .select-form__field {
      padding-right: 50px;
    }
  }
}

.select-form__label {
  align-self: center;
  white-space: nowrap;
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }

  &--mail {
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      margin-right: 21px;
    }
  }

  &--phone {
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      margin-right: 14px;
    }
  }
}

.select-form__field {
  box-sizing: border-box;
  padding: 12px 15px;
  height: 45px;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  color: $gray-68;
  border: 1px solid $gray-231;

  @media (min-width: $tablet-width) {
    padding: 10px 19px;
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  &--flex {
    flex-grow: 1;
  }

  &:hover {
    border-color: $gray-205;
  }

  &:focus {
    outline: 2px solid $gray-68;
    border: 1px solid transparent;
  }

  &:focus + span .select-form__icon--mail {
    stroke: $green;
  }

  &:focus + span .select-form__icon--phone {
    fill: $green;
  }

  /*Класс для отражения ошибки ввода данных*/

  &--error {
    outline: 2px solid $red;
  }

  &--error + span .select-form__icon--mail {
    stroke: $red;
  }

  &--error + span .select-form__icon--phone {
    fill: $red;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.select-form__image {
  position: absolute;
  right: 15px;
  bottom: 13px;

  @media (min-width: $desktop-width) {
    right: 20px;
    bottom: 13px;
  }

  &--phone {
    right: 13px;
    bottom: 10px;

    @media (min-width: $tablet-width) {
      right: 16px;
      bottom: 9px;
    }

    @media (min-width: $desktop-width) {
      right: 16px;
      bottom: 9px;
    }
  }
}

.select-form__icon--mail {
  stroke: #222222;

  &:focus {
    stroke: $green;
  }
}

.select-form__icon--phone {
  fill: #000000;

  &:focus {
    fill: $green;
  }
}

.select-form__comment-textarea {
  box-sizing: border-box;
  width: 100%;
  resize: horizontal;
  min-width: 127px;
  min-height: 151px;
  padding: 9px 12px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  color: $gray-68;
  border: 1px solid $gray-231;

  @media (min-width: $tablet-width) {
    min-width: 593px;
    min-height: 174px;
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: $gray-205;
  }

  &:focus {
    outline: 2px solid $gray-68;
    border: 1px solid transparent;
  }
}

.select-form__comment {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-secondary;
  text-transform: none;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 16px;
  }
}

.select-form__flex-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.select-form__button {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    min-width: 282px;
    margin-right: 61px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
    margin-right: 82px;
  }
}
