.social {
  text-align: center;
  border-top: 1px solid $gray-217;
  border-bottom: 1px solid $gray-217;

  @media (min-width: $tablet-width) {
    border: none;
    width: 19%;
  }

  @media (min-width: $desktop-width) {
    width: 11%;
  }
}

.social__list {
  margin: 0 auto;
  padding: 0;
  max-width: 49%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 133px;
  }
}

.social__item {
  margin: 5px;
  margin-left: 0;
}


.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }

  &:focus {
    outline: 2px solid $black;
  }
}

.social__icon {
  &--vcontakte {
    width: 23px;
    height: 13px;
    fill: $gray-102;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;

      &:hover {
        fill: $green;
      }

      &:active {
        fill: $green;
        opacity: 0.3;
      }
    }
  }

  &--instagram {
    width: 16px;
    height: 16px;
    fill: $gray-102;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;

      &:hover {
        fill: $green;
      }

      &:active {
        fill: $green;
        opacity: 0.3;
      }
    }
  }

  &--facebook {
    width: 13px;
    height: 20px;
    stroke: $gray-102;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 33px;

      &:hover {
        stroke: $green;
      }

      &:active {
        stroke: $green;
        opacity: 0.3;
      }
    }
  }
}
